@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
  display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

@layer components {
  .resume-dashboard {
    @apply flex items-center gap-4 px-3 py-2 rounded-lg shadow-md lg:gap-5 bg-tertiary lg:px-4 lg:py-3;
  }
  .nav-wrapper {
    @apply flex items-center  justify-center w-full  hover:bg-white cursor-pointer duration-200 rounded-l-full h-[60px];
  }
  .nav-icon {
    @apply w-8 -ml-3 fill-current text-primary;
  }
  .label-answer {
    @apply flex items-center p-2 mb-1 duration-100 cursor-pointer hover:bg-slate-100 rounded-xl;
  }
  .number-quiz {
    @apply absolute top-0 flex items-center justify-center w-12 h-12 text-white align-middle -translate-x-1/2 -translate-y-1/2 bg-slate-600 left-1/2 md:left-0 md:-translate-x-1/3 md:-translate-y-1/3 rounded-3xl;
  }
  .wrapper-quiz {
    @apply relative flex flex-col justify-center flex-grow-0 max-w-4xl gap-6 p-3 duration-300 rounded-lg select-none mt-14 sm:items-center md:flex-row md:hover:transform md:hover:scale-105 md:p-10 hover:shadow-2xl;
  }
  .text-percent {
    @apply flex items-center justify-center w-12 h-8 p-3 text-base font-bold shadow-md rounded-xl;
  }

  .progress-inactive {
    @apply flex h-2 overflow-hidden text-xs rounded shadow-md;
  }

  .progress-active {
    @apply flex flex-col justify-center text-center text-white shadow-none whitespace-nowrap;
  }

  .progress-title {
    @apply inline-block px-2 py-1 text-xs font-semibold uppercase rounded-full shadow-md;
  }
}

#nav {
  height: calc(100vh - 120px);
}

#cropperjs {
  display: block;
  max-width: 100%;
}

#preview {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 100%;
}
.easy {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    rgba(67, 206, 162, 1) 3%,
    rgba(24, 90, 157, 1) 100%
  );
}
.medium {
  background: rgb(0, 0, 0);
  background: linear-gradient(rgb(240, 213, 155) 6%, rgba(255, 81, 47, 1) 100%);
}

.hard {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    rgba(255, 81, 47, 1) 3%,
    rgba(221, 36, 118, 1) 100%
  );
}

.expert {
  background: rgb(255, 216, 155);
  background: linear-gradient(
    rgba(204, 43, 94, 1) 3%,
    rgba(117, 58, 136, 1) 100%
  );
}

.glassmorphism {
  background: rgba(107, 96, 96, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
}
html {
  scroll-behavior: smooth;
}
